.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
}

.flex-container>div {
    background-color: blue;
    width: 110px;
}

div.avatar {
    /*background-color: mediumseagreen;*/
    text-align: center;
    width: 25%;
    max-width: 140px;
    /*float: center;*/
    position: sticky;
    top: 0;
}

.avatar img {
    box-shadow: 0 0 20px grey, 0 0 15px black;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.navigation {
    background-color: #f3f2f1;
    display: flex;
    position: sticky;
    top: 0;
}


/* Pour profil isa */
.img-profil {
    border-radius: 50%;
    box-shadow: 0 0 0 white, 0 0 16px white;
    width:128px;
    height:128px;
}

body{
    background-color:#E6ECF0;
}

.grey {
    background-color:#E6ECF0;
}

.white {
    background-color: #FFFFFF;
}

/*.justify-content-between{*/
    /*background-color:red;*/
/*}*/

.contener-white {
    background-color:#F8F9FA;
}

.contener-blue{
    background-color: #1DA1F2;
}